<h1>Change password</h1>

<input type="text" id="username" name="username" value="<%= @username %>" readonly>

<%= form_for @conn, Routes.user_path(@conn, :update_pw, @token), [method: :put], fn _ -> %>  
  <input type="password" id="password" name="password" placeholder="Your new password">

  <div>
    <%= submit "Change password" %>
  </div>
<% end %>

<span><%= link "Back", to: Routes.session_path(@conn, :new) %></span>
