<h1><%= link Schoolhub.Courses.get_course!(@course_id).name, to: Routing.route(:course_path, @conn, [:show, @course_id]) %></h1>
<h2>Show Grade</h2>

<ul>

  <li>
    <strong>Grades:</strong>
    <textarea disabled=true><%= @grade.grades %></textarea>
  </li>

</ul>

<span><%= link "Back", to: Routing.route(:course_path, @conn, [:show, @course_id]) %></span>
