<h1>Show Grade</h1>

<ul>

  <li>
    <strong>Grades:</strong>
    <%= @grade.grades %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.grade_path(@conn, :edit, @grade) %></span>
<span><%= link "Back", to: Routes.grade_path(@conn, :index) %></span>
