<h1>Change Privilege</h1>

<strong>Username:</strong>
<%= Schoolhub.Accounts.get_user!(@privilege.user_id).credential.username %>

<%= render "form.html", Map.put(assigns, :action, Routes.privilege_path(@conn, :update, @privilege)) %>

<%= render "explanation.html" %>

<span><%= link "Back", to: Routes.privilege_path(@conn, :index) %></span>
