<h1>Listing Privileges</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for privilege <- @privileges do %>
    <tr>
      <td><%= privilege.level %></td>

      <td>
        <span><%= link "Show", to: Routes.privilege_path(@conn, :show, privilege) %></span>
        <span><%= link "Edit", to: Routes.privilege_path(@conn, :edit, privilege) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

