<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Schoolhub" %></h1>
  <p>Keep in touch with your students and teachers</p>
</section>


<ul>
  <li>
    <%= link "Courses", to: Routes.course_path(@conn, :index) %>
  </li>
  <li>
    <%= link "Users", to: Routes.user_path(@conn, :index) %>
  </li>
  <li>
    <%= link "Privileges", to: Routes.privilege_path(@conn, :index) %>
  </li>
</ul>
