<h1><%= link @course.name, to: Routing.route(:course_path, @conn, [:show, @course.id]) %></h1>
<h2>Edit Course</h2>

<%= render "form.html", Map.put(assigns, :action, Routing.route(:course_path, @conn, [:update, @course])) %>

<span><%= link "Back", to: Routing.route(:course_path, @conn, [:show, @course.id]) %></span>
