<h1>New Course</h1>

<%= render "form.html", Map.put(assigns, :action, Routing.route(:course_path, @conn, [:create])) %>

<span><%= link "Back", to: Routing.route(:course_path, @conn, [:index]) %></span>
