<h1>Show Course</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @course.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @course.description %>
  </li>

</ul>

<span><%= link "View Members", to: Routes.course_affiliation_path(@conn, :index, @course.id) %></span>
<span><%= link "Edit", to: Routes.course_path(@conn, :edit, @course) %></span>
<span><%= link "Back", to: Routes.course_path(@conn, :index) %></span>
