<h1>Show Server</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @server.name %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @server.address %>
  </li>

  <li>
    <strong>Owner email:</strong>
    <%= @server.owner_email %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @server.active %>
  </li>

</ul>

<span><%= link "Back", to: Routes.server_path(@conn, :index) %></span>
