<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Schoolhub" %></h1>
  <p>Keep in touch with your students or teachers</p>
</section>

<%= render "redirect_form.html", conn: @conn %>

<span><%= link "New server", to: Routes.server_path(@conn, :new) %></span></br>
<span><%= link "Unsubscribe server", to: Routes.server_path(@conn, :unsubscribe) %></span>
