You receive this email in order to confirm your registration to Katedra.
If it was not you, please ignore this email.

You are trying to register with the username "<%= @username %>".

Follow this link to congirm:

<%= @url_with_token %>

<< Please do not reply to this email >>