<h1>New Reply</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.course_post_reply_path(@conn, :create, @course_id, @post_id)) %>

<span><%= link "Back", to: Routes.course_post_reply_path(@conn, :index, @course_id, @post_id) %></span>
