<h1><%= link Schoolhub.Courses.get_course!(@course_id).name, to: Routes.course_path(@conn, :show, @course_id) %></h1>
<h2>Show Reply</h2>

<ul>

  <li>
    <strong>Content:<br></strong>
    <%= @reply.content |> Earmark.as_html!() |> raw() %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.course_post_reply_path(@conn, :edit, @course_id, @post_id, @reply) %></span>
<span><%= link "Back", to: Routes.course_post_reply_path(@conn, :index, @course_id, @post_id) %></span>
