<h1>Show File</h1>

<ul>

  <li>
    <strong>Filename:</strong>
    <%= @file.filename %>
  </li>

  <li>
    <strong>Uploader:</strong>
    <%= Schoolhub.Accounts.get_user!(@file.uploader).name %>
  </li>

  <li>
    <strong>Size:</strong>
    <%= @file.size %>
  </li>

</ul>

<span><%= link "Download", to: Routes.course_file_path(@conn, :download, @course_id, @file) %></span>
<span><%= link "Back", to: Routes.course_file_path(@conn, :index, @course_id) %></span>
