<h1><%= link Schoolhub.Courses.get_course!(@course_id).name, to: Routes.course_path(@conn, :show, @course_id) %></h1>
<h2>Edit Reply</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.course_question_qreply_path(@conn, :update, @course_id, @question_id, @qreply)) %>

<span><%= link "Back", to: Routes.course_question_qreply_path(@conn, :index, @course_id, @question_id) %></span>
